.main-info-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-container {
    padding-left: 10px;
    padding-right: 10px;
}

.section-font {
    font-family: Nunito Sans Light;
    font-size: 18px;
}

#divMap {
    height: 500px;
    width: 100%;
    display: none;
    padding-top: 10px; 
}

.job-header {
    font-family: Nunito Sans Light;
    font-size: 20px;
    font-weight: bold;
}

.company {
    padding-top: 5px;
    padding-bottom: 5px;
}

.period {
    padding-top: 5px;
    padding-bottom: 10px;
    font-family: Nunito Sans Light;
    font-size: 18px;
}

#pariplay-info {
    display: none;
    padding-top: 5px;
    padding-bottom: 20px;
}

.pariplay-images {
    padding-top: 10px;
    padding-bottom: 5px;
}

#imageRotator {
    height: 30%;
    width: 30%;
}

