@{
    ViewData["Title"] = "Detelin Popov";
}

<div>
    <div class="align-center">
        <img src="images/CV/detelin_popov.png" class="img-responsive align-center" alt="Detelin Popov"/>
    </div>
    <hr class="hr-width50"/>
    <div class="align-center">
        <img src="images/CV/profile_photo.png" class="border-50 img-responsive align-center" alt="Detelin Popov"/>
    </div>
    <hr class="hr-width70"/>
    <div class="align-center">
        <img src="images/CV/personal_info.png" class="img-responsive align-center" alt="Personal Information"/>
    </div>
    <hr class="hr-width70"/>
    <div class="align-center section-container">
        <div>
            <span class="font-bold padding-right-5 padding-bottom-5 section-font padding-left-20 font-size-16"> Address:</span> <span class="section-font"> Sofia, Bulgaria </span> <span id="expand-country" title="Show/Hide Map" class="font-size-16 glyphicon glyphicon-hand-right"></span>
        </div>
        <div id="divMap"></div>
        <div>
            <span class="font-bold padding-right-5 padding-bottom-5 section-font padding-left-20 font-size-16"> Email:</span> <span class="section-font">
                <a href="mailto:detelinpopov@yahoo.com"> detelinpopov@yahoo.com</a>
            </span>
        </div>
        <div>
            <span class="font-bold padding-right-5 padding-bottom-5 section-font padding-left-20 font-size-16"> Education:</span> <span class="section-font"> Bachelor's degree in Software Engineering, Master's degree in Business Communications </span>
        </div>
        <div>
            <span class="font-bold padding-right-5 padding-bottom-5 section-font padding-left-20 font-size-16"> Preferred Job:</span> <span class="section-font"> Senior Software Engineer / Technical Lead / Software Architect </span>
        </div>
        <div>
            <span class="font-bold padding-right-5 padding-bottom-5 section-font padding-left-20 font-size-16"> Linkedin Profile:</span> <span class="section-font">
                <a href="https://www.linkedin.com/in/detelin-popov-92688540/" target="_blank">
                    <span class="glyphicon glyphicon-hand-right"></span>
                </a>
            </span>
        </div>
        <div>
            <span class="font-bold padding-right-5 padding-bottom-5 section-font padding-left-20 font-size-16"> Github Profile:</span> <span class="section-font">
                <a href="https://github.com/detelinpopov" target="_blank">
                    <span class="glyphicon glyphicon-hand-right"></span>
                </a>
            </span>
        </div>
    </div>
    <hr class="hr-width70"/>
    <div class="align-center">
        <img src="images/CV/skills.png" class="img-responsive align-center" alt="Skills and Expertise"/>
    </div>
    <hr class="hr-width70"/>
    <div class="align-center section-container">
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-20 font-size-16"></span> <span class="section-font"> I am a results-driven software engineer who can think “out of the box”. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-20 font-size-16"></span> <span class="section-font"> I have 7+ years of professional experience with .Net Framework. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-20 font-size-16"></span> <span class="section-font"> I am skilled in developing software business systems, web sites, specifications and architectural systems research. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-20 font-size-16"></span> <span class="section-font"> I have experience in all development phases: systems analysis, systems design, development, integration and testing, acceptance, installation, deployment, maintenance, disposal. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-20 font-size-16"></span> <span class="section-font"> I love solving complex problems and I try to challenge myself every day. </span>
        </div>
        <div id="technical-skills-container" style="height: 400px; padding-bottom: 20px; padding-top: 20px;"></div>
        <div id="soft-skills-container" style="height: 400px"></div>
    </div>
    <hr class="hr-width70"/>
    <div class="align-center">
        <img src="images/CV/professional_experience.png" class="img-responsive align-center" alt="Professional Experience"/>
    </div>
    <hr class="hr-width70"/>
    <div>
        <div align="center" class="job-header">
            Senior .Net developer
        </div>
        <div align="center" class="period">
            June 2017 - Present
        </div>
        <div align="center" class="company">
            <a href="http://www.pariplayltd.com/" target="_blank" title="Open site">
                <img src="images/CV/pariplay_logo.png" class="img-responsive align-center" alt="Pariplay"/>
            </a>
            <div class="align-center padding-top-5">
                <span class="font-size-16 padding-top-5 padding-bottom-5">Read more about Pariplay</span>
                <span title="Learn more about Pariplay" id="expand-pariplay-info" class="font-size-16 glyphicon glyphicon-hand-right padding-left-20"></span>
            </div>
        </div>
        <div id="pariplay-info" class="padding-left-20 font-size-16 padding-bottom-5">
            <div align="center" class="pariplay-info-row">
                Pariplay is a producer of remarkable products, where we create an experience of engaging entertainment around our offerings. We create online games and systems that add real value to any Lottery or Casino operator.
                Pariplay is a new age multi-channel gaming business which develops, licenses and operates Real Money Gaming (RMG) games and systems in global regulated markets. We are an international B2B gaming platform and game provider, and we focus on delivering innovative and modern gaming products. Our products comprise of games, platforms and services, as well as on-premise solutions for land based organisations.
                Our platform includes an advanced CRM, CMS, Reporting, Business Intelligence and Business Administration systems and our solutions are all modular – so you choose exactly what you need. We improve and adapt our solutions, while working closely with our clients, to give them the result they require and a partnership they can rely on.
            </div>
        </div>
    </div>
    <div id="pariplay-images-container" class="padding-left-20 padding-bottom-10">
        <section>
            <div class="banner-rotator imageRotator align-center">
                <ul class="slides">
                    <li data-effect="rotate" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/pp.png"/>
                    </li>
                    <li data-effect="rotate" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/pp1.png"/>
                    </li>
                    <li data-effect="flip" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/pp2.png"/>
                    </li>
                    <li data-effect="push" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/pp3.png"/>
                    </li>
                    <li data-effect="push" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/pp4.png"/>
                    </li>
                    <li data-effect="push" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/pp5.png"/>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
<hr class="hr-width70"/>
<div class="align-center">
    <div align="center" class="job-header padding-left-20">
        Senior .Net Software Engineer
    </div>
    <div align="center" class="padding-left-20 period">
        September 2015 - June 2017
    </div>
    <div align="center" class="company">
        <a href="https://www.xoomworks.com/" target="_blank" title="Open site">
            <img src="images/CV/xoomworks_logo.png" class="img-responsive padding-left-20" alt="Xoomworks"/>
        </a>
    </div>
    <div id="xommworks-images-container" class="padding-left-20 padding-bottom-10">
        <section>
            <div class="banner-rotator imageRotator align-center">
                <ul class="slides">
                    <li data-effect="rotate" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/xoom.png"/>
                    </li>
                    <li data-effect="rotate" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/xoom1.png"/>
                    </li>
                    <li data-effect="rotate" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/xoom2.jpg"/>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
<hr class="hr-width70" />
<div class="align-center">
    <div align="center" class="job-header">
        .Net Software Engineer
    </div>
    <div align="center" class="padding-left-20 period">
        May 2013 - September 2015
    </div>
    <div align="center" class="company">
        <a href="https://www.interoute.com/" target="_blank" title="Open site">
            <img src="images/CV/interoute_logo.png" class="img-responsive padding-left-20" alt="Interoute" />
        </a>
    </div>
    <div id="interoute-images-container" class="padding-left-20 padding-bottom-10">
        <section>
            <div class="banner-rotator imageRotator align-center">
                <ul class="slides">
                    <li data-effect="rotate" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/interoute.jpg" />
                    </li>
                    <li data-effect="rotate" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/interoute1.png" />
                    </li>
                    <li data-effect="rotate" data-direction="down" data-alternate="true" data-depth="0">
                        <img src="images/CV/interoute2.jpg" />
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>