@{
    ViewData["Title"] = "Detelin Popov";
}

<div>
    <div class="align-center">
        <img src="images/CV/detelin_popov.png" class="img-responsive align-center" alt="Detelin Popov"/>
    </div>
    <hr class="hr-width70"/>
    <div class="align-center">
        <img src="images/CV/job_title.png" class="img-responsive align-center" alt=".Net Software Engineer"/>
    </div>
    <hr class="hr-width50"/>
    <div class="align-center">
        <img src="images/CV/section_introduction.png" class="img-responsive align-center" alt="Introduction"/>
    </div>
    <hr class="hr-width70"/>
    <div class="align-center section-container">
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-10 font-size-18"></span> <span class="section-font"> I am a results-driven software engineer who can think “out of the box”. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-10 font-size-18"></span> <span class="section-font"> I am skilled in developing software business systems, web sites, specifications and architectural systems research. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-10 font-size-18"></span> <span class="section-font"> I love solving complex problems and I try to challenge myself every day. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-10 font-size-18"></span> <span class="section-font"> I have 7+ years of professional experience with .Net Framework. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-10 font-size-18"></span> <span class="section-font"> I have experience in all development phases: systems analysis, systems design, development, integration and testing, acceptance, installation, deployment, maintenance, disposal. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-10 font-size-18"></span> <span class="section-font"> I live in Sofia, Bulgaria </span> <span id="expand-country" class="font-size-18 glyphicon glyphicon-hand-right"></span>
        </div>
    </div>
    <div id="divMap"></div>
    <hr class="hr-width70"/>
    <div class="align-center">
        <img src="images/CV/professional_experience.png" class="img-responsive align-center" alt="Professional Experience"/>
    </div>
    <hr class="hr-width70"/>
    <div class="align-center section-container">
        <div class="job-header padding-left-10">
            Senior .Net developer
        </div>
        <div class="padding-left-10 period">
            June 2017 - Present
        </div>
        <div class="company">
            <a href="http://www.pariplayltd.com/" target="_blank" title="Open site">
                <img src="images/CV/pariplay_logo.png" class="img-responsive padding-left-10" alt="Pariplay"/>
            </a>
            <div class="padding-left-10 padding-top-5">
                <span title="Learn more about Pariplay" id="expand-pariplay-info" class="font-size-18 glyphicon glyphicon-hand-right padding-left-10"></span>
            </div>
        </div>
        <div id="pariplay-info" class="padding-left-10 font-size-16 padding-bottom-5">
            Pariplay is a producer of remarkable products, where we create an experience of engaging entertainment around our offerings. We create online games and systems that add real value to any Lottery or Casino operator. Pariplay’s people put all their energy into our projects in order to bring entertainment, thrills and delight to players. We strive to always exceed our clients’ expectations and to make Pariplay a place where employees love what they do.
            Pariplay is a new age multi-channel gaming business which develops, licenses and operates Real Money Gaming (RMG) games and systems in global regulated markets. We are an international B2B gaming platform and game provider, and we focus on delivering innovative and modern gaming products. Our products comprise of games, platforms and services, as well as on-premise solutions for land based organisations.
            Our platform includes an advanced CRM, CMS, Reporting, Business Intelligence and Business Administration systems and our solutions are all modular – so you choose exactly what you need. We improve and adapt our solutions, while working closely with our clients, to give them the result they require and a partnership they can rely on.
            Through our simple and easy integration, our partners have access to hundreds of the best products and the top names in the industry – with no additional effort on their side. Our platform connects to almost any system through a simple, clean API and gives your business our technologically advanced front end and world class backend – a complete platform you can depend on. Our tools and widgets allow you to get started efficiently and enable you to quickly become a leader in the online Gaming sector.
            Our innovative and thrilling gaming products across mobile, desktop and social channels, together with our partnerships with the world’s top online gaming providers, enables us to help our clients create new markets and access fresh revenue streams.
        </div>
        <div id="pariplay-images-container" class="padding-left-10 padding-bottom-10">
            <section>
                <div id="imageRotator" class="banner-rotator">
                    <ul class="slides">
                        <li data-effect="rotate" data-direction="down" data-alternate="true" data-depth="0">
                            <img src="images/CV/pp1.png"/>
                        </li>
                        <li data-effect="flip" data-direction="down" data-alternate="true" data-depth="0">
                            <img src="images/CV/pp2.png"/>
                        </li>
                        <li data-effect="push" data-direction="down" data-alternate="true" data-depth="0">
                            <img src="images/CV/pp3.png"/>
                        </li>
                        <li data-effect="push" data-direction="down" data-alternate="true" data-depth="0">
                            <img src="images/CV/pp4.png"/>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div>
            <span class="section-font padding-right-5 padding-left-10"> I am a part of the PariPlay Platforms team. Our products are: </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-10 font-size-18"></span> <span class="section-font"> <span class="font-bold"> SMTM platform </span> - it allows casino operators to bring multiple platforms, plus our suite of games and services, together all under a single umbrella. SMTM is platform generic, user friendly and intuitive, provides fully customizable reporting and analytics. </span>
        </div>
        <div>
            <span class="glyphicon glyphicon-ok green padding-right-5 padding-left-10 font-size-18"></span> <span class="section-font"> <span class="font-bold"> Casino API </span> - We provide various API’s that allow all platforms to work harmoniously together. </span>
        </div>
    </div>
</div>